<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="google" translate="label" type="text" sortOrder="340" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Google API</label>
            <tab>sales</tab>
            <resource>Magento_GoogleAnalytics::google</resource>
            <group id="google_review" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Google Customer Reviews (opt-in integration for Checkout)</label>
                <field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="merchant_id" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Merchant ID</label>
                    <comment>Google Merchant ID</comment>
                    <validate>required-entry validate-number</validate>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
                <field id="estimated_delivery_date" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1"
                       showInStore="1">
                    <label>Estimated delivery date count</label>
                    <comment>Number value, default 3</comment>
                    <validate>required-entry validate-number</validate>
                    <depends>
                        <field id="*/*/active">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
